page-rank {
    .col{
        background-color: rgb(241, 243, 248);
        border: black;
        text-align: center;
    }
 
 
    ion-segment-button{
        font-size: 4em;
    }
 
    .row{
        width: 96%;
        justify-content: center;
        padding-left: 2.5%;
    }
 
    .sub{
     display: inline;
     float: right;
     width:2em !important;
     height:2em !important;
     background-color:black;
    }

    .teamname{
      width: 20% !important;   
    }
}
