page-match {

    input{
        text-align: center;
        height: 30px;
        width: 13.7em;
        border: none;
        border-radius: 4px;
        font-family: "微软雅黑";
        font-size: 0.8em;
    }
   .sub {
        display: inline;
        float: right;
        width:2em !important;
        height:2em !important;
        background-color: lightcoral;
       
    }
}
